SharpVelvet/*.json
SharpVelvet/generators/build/
SharpVelvet/model-counters/
SharpVelvet/out/

# PYTHON
SharpVelvet/__pycache__
SharpVelvet/*/__pycache__
cristian-tool/__pycache__
cristian-tool/*/__pycache__

# CPOG
SharpVelvet/verifiers/cpog-check
SharpVelvet/verifiers/cpog-gen
SharpVelvet/verifiers/d4
cristian-tool/result_analysis.ipynb
