SharpVelvet/*.json
SharpVelvet/generators/build/
SharpVelvet/model-counters/
SharpVelvet/out/

# PYTHON
SharpVelvet/__pycache__
SharpVelvet/*/__pycache__
cristian-tool/__pycache__
cristian-tool/*/__pycache__

# CPOG
SharpVelvet/verifiers/cpog-check
SharpVelvet/verifiers/cpog-gen
SharpVelvet/verifiers/d4

# Cristian Tool
cristian-tool/result_analysis.ipynb
cristian-tool/cpog/cpog-check
cristian-tool/cpog/cpog-gen
cristian-tool/cpog/d4
cristian-tool/output.csv

# IDE SPECIFIC
.vscode/
