# SharpVelvet
SharpVelvet/*.json
SharpVelvet/generators/build/
SharpVelvet/model-counters/
SharpVelvet/out/
SharpVelvet/tool-config/vuk/

# Python Artifacts
.venv/
**/__pycache__/
*.egg-info/

# TeX Build Artifacts
final-paper-template-tex/doc/

# IDE Specific
.vscode/
/.idea/

# Result Analysis
result_analysis/*.csv
result_analysis/*.png
result_analysis/*.txt

# CPOG Verifier
cpog_verifier/cpog/
cpog_verifier/output.csv

# SATZilla Feature Extractor
satzilla_feature_extractor/test/
satzilla_feature_extractor/output/*

# Local Binaries (VUK)
binaries/
